#Mod_Autoindex
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

#Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks

    RewriteEngine on

    # Если запрашиваемая в URL директория или файл существуют обращаемся к ним напрямую
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Если нет - перенаправляем запрос на index.php
    RewriteRule . index.php

    # ...прочие настройки...
</IfModule>
